### Vocabulary
**Class** is a category of objects. The class defines all the common properties of the different objects that belong to it.

There are predefined classes in python (**types**) to work with numbers (```int```, ```float```), strings (```string```), or more complicated data (```lists```, ```dictrionaries```)
Classes are basically user defined types.

Class defines operations that can be done with objects that belong to it. These are implemented as functions.
Unlike normal functions these belong to the class. Such functions are also called **methods**. E.g. ```"hello".upper()``` where upper is a **method** of **class** ```string```.

**Objects** are self-contained entities that belongs to a certain **class**. They contain data. E.g. ```"hello"``` is an object of class string, ```[1, 2]``` is an object of class list. Objects are also called **instances**.

### Create a class 'Book' which should include the following attributes: name, author_name, price, and publisher. Create two instances of the class.

In [1]:
class Book:
  def __init__(self, name, author_name, price, publisher):
    self.name = name
    self.author_name = author_name
    self.price = price
    self.publisher = publisher

In [11]:
Book1 = Book('The Great Gatsby', 'F.Scott Fitzgerald', 14, 'Charles Scribner"s Sons')
Book2 = Book('The Catcher In The Rye', 'J.D.Salinger', 12, 'Little, Brown and Company')

In [5]:
Book1.price

14

### Define an method to obtain the url of a book. The url should be in this form `http://publisher.com/author_name/book_name`

In [21]:
class Book:
  def __init__(self, name, author_name, price, publisher):
    self.name = name
    self.author_name = author_name
    self.price = price
    self.publisher = publisher
  def get_url(self, name, author_name, publisher):
    return 'http://' + self.publisher + '.com/' + self.author_name + '/' + self.name

Book1 = Book('The Great Gatsby', 'F.Scott Fitzgerald', 14, 'Charles Scribner"s Sons')
Book2 = Book('The Catcher In The Rye', 'J.D.Salinger', 12, 'Little, Brown and Company')

In [23]:
print(Book1.price)
Book1.get_url()

14

'http://Charles Scribner"s Sons.com/F.Scott Fitzgerald/The Great Gatsby'

### Overwrite magic methods:
1. Modify ```__str__``` method to display all the attributes of the book.
2. Modify the ```__add__``` method to add the price of two books.  
3. Modify the ```__eq__``` method to determine whether the name, author_name, publisher of two books are same
4. Modify the ```__gt__``` method to determine whether price of one book is greater than the other

In [24]:
class Book:
  def __init__(self, name, author_name, price, publisher):
    self.name = name
    self.author_name = author_name
    self.price = price
    self.publisher = publisher
  def get_url(self, name, author_name, publisher):
    return 'http://' + self.publisher + '.com/' + self.author_name + '/' + self.name
  def __str__(self):
    return f'Book name:{self.name}\nAuthor name:{self.author_name}\nPrice:{self.price}\nPublisher:{self.publisher}'
  def __add__(self, other):
    return self.price + other.price
  def __eq__(self, other):
    return self.name == other.name and self.author_name == other.author_name and self.publisher == other.publisher
  def __gt__(self, other):
    return self.price > other.price

Book1 = Book('The Great Gatsby', 'F.Scott Fitzgerald', 14, 'Charles Scribner"s Sons')
Book2 = Book('The Catcher In The Rye', 'J.D.Salinger', 12, 'Little, Brown and Company')

In [28]:
print(Book1)
print(Book1 == Book2)
print(Book1 > Book2)
print(Book1 + Book2)

Book name:The Great Gatsby
Author name:F.Scott Fitzgerald
Price:14
Publisher:Charles Scribner"s Sons
False
True
26

### Define a class 'Course' with attributes name, duration and a list of lectures. Create an istance of the course.

In [40]:
class Course:
  def __init__(self, attributes_name, duration, lectures):
    self.attributes_name = attributes_name
    self.duration = duration
    self.lectures = lectures

In [43]:
Course1 = Course('MMM', '1 semester', ['Introduction to Scientific Programming with Python', 'BE2'])

### Define a class 'Student' with attributes name, email, age and course (include the course instance you created previously, the student only has one course). Write a function to add an attribute grade (use a dictionary and initialize them to 0) for each lecture in the course. Write a function to add grades to the lectures for a student instance.

In [50]:
class Student:
  def __init__(self, attributes_name, email, age, course):
    self.attributes_name = attributes_name
    self.email = email
    self.age = age
    self.course = course
    self.grades = {lecture: 0 for lecture in course.lectures}  # build a dictionary named 'self.grades' and 'lecture' is key
  def add_grades(self, lecture, grade):
    self.grades[lecture] = grade  # 'grade' is the value

Student1 = Student('Annes', 'Annes.Stroh@mannheim.de', 23, Course1)

In [54]:
Student1.add_grades('Introduction to Scientific Programming with Python', 2.3)
Student1.add_grades('BE2', 2)

print(Student1.grades)

{'Introduction to Scientific Programming with Python': 2.3, 'BE2': 2}

### Create a class Clock with attributes hour, minute and second. Write a function to assign a current time. Write a function Tick to increment the clock by 1 second.
hint: use the now function of the datetime library!

In [55]:
from datetime import datetime, timedelta

In [68]:
class Clock:
  def __init__(self):
    self.current_time()
  def current_time(self):
    now = datetime.now()
    self.hour = now.hour
    self.minute = now.minute
    self.second = now.second
  def tick(self):
    a_time = datetime(2024, 10, 8, self.hour, self.minute, self.second) + timedelta(seconds = 1)
    #current_time = datetime.combine(self.date, datetime(self.date.year, self.hour, self.minute, self.second).time())
    #new_time = current_time + timedelta(seconds=1)

    self.hour = a_time.hour
    self.minute = a_time.minute
    self.second = a_time.second
  def __str__(self):
    return f'{self.hour:02}:{self.minute:02}:{self.second:02}"'
    # 0: if number is a single digit (like 5), it will be displayed as 05;
    # 2: two digits

In [69]:
clock1 = Clock()
print(clock1)
clock1.tick()
print(clock1)

19:51:05"
19:51:06"