# Pandas

## Open file adult.csv as Pandas' DataFrame. Specify that missing values are denoted by '?'

The file is available in the ILIAS folder.

You can learn a bit more about this dataset [here](https://archive.ics.uci.edu/ml/datasets/adult)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Exercise 08.adult.csv', na_values= '?')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,NaN,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28.0,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39.0,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
48838,64.0,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K
48839,38.0,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48840,44.0,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35.0,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

## What are all the different values for the attribute education?

In [19]:
set(df.education)
df[df['education-num']==15]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
52,47.0,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K
111,38.0,Private,65324,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
234,28.0,Private,76714,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,55,United-States,>50K
250,41.0,Private,112763,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
286,41.0,Private,220531,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48736,55.0,Local-gov,258121,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,40,United-States,>50K
48751,39.0,Private,139057,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,38,India,<=50K
48787,66.0,Self-emp-not-inc,190160,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,20,United-States,<=50K
48798,30.0,Private,34572,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,80,United-States,>50K
48822,40.0,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States,>50K

In [4]:
df['education'].unique()
# df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th', 'HS-jupytgrad'],
      dtype=object)

In [5]:
df_edu= df.groupby('education')
df_edu.describe()

                  age                                                      \
                count       mean        std   min   25%   50%   75%   max
education
10th           1389.0  37.902808  16.905226  17.0  22.0  35.0  52.0  90.0
11th           1812.0  32.141832  15.245833  17.0  18.0  28.0  42.0  90.0
12th            657.0  32.235921  14.692293  17.0  19.0  28.0  42.0  81.0
1st-4th         247.0  46.639676  15.172575  19.0  34.5  46.0  57.5  90.0
5th-6th         509.0  43.585462  15.536060  17.0  30.0  43.0  55.0  84.0
7th-8th         955.0  49.525654  16.290025  17.0  36.0  51.0  62.0  90.0
9th             756.0  40.902116  15.830591  17.0  28.0  39.0  54.0  90.0
Assoc-acdm     1601.0  37.777014  11.362256  19.0  29.0  37.0  45.0  90.0
Assoc-voc      2061.0  38.651140  11.651413  19.0  30.0  37.0  46.0  84.0
Bachelors      8024.0  38.896311  11.895499  19.0  29.0  37.0  46.0  90.0
Doctorate       594.0  47.530303  11.469584  24.0  39.0  47.0  55.0  80.0
HS-grad       15783.0  39.072990  13.655226  17.0  28.0  37.0  49.0  90.0
HS-jupytgrad      1.0  52.000000        NaN  52.0  52.0  52.0  52.0  52.0
Masters        2657.0  44.006775  11.036663  18.0  36.0  44.0  51.0  90.0
Preschool        83.0  42.204819  15.389067  19.0  30.0  41.0  53.5  77.0
Prof-school     834.0  45.152278  12.186115  25.0  37.0  43.0  52.0  90.0
Some-college  10878.0  35.677055  13.497178  17.0  23.0  34.0  45.0  90.0

               fnlwgt                 ... capital-loss         hours-per-week  \
                count           mean  ...          75%     max          count
education                             ...
10th           1389.0  196532.558675  ...          0.0  3770.0         1389.0
11th           1812.0  195102.272627  ...          0.0  2824.0         1812.0
12th            657.0  197538.184170  ...          0.0  2258.0          657.0
1st-4th         247.0  235020.526316  ...          0.0  2603.0          247.0
5th-6th         509.0  229858.791749  ...          0.0  2603.0          509.0
7th-8th         955.0  187588.496335  ...          0.0  3900.0          955.0
9th             756.0  199006.851852  ...          0.0  2231.0          756.0
Assoc-acdm     1601.0  193700.075578  ...          0.0  2824.0         1601.0
Assoc-voc      2061.0  179421.100437  ...          0.0  3004.0         2061.0
Bachelors      8025.0  188361.546293  ...          0.0  3770.0         8025.0
Doctorate       594.0  184090.478114  ...          0.0  3683.0          594.0
HS-grad       15783.0  188620.124564  ...          0.0  4356.0        15783.0
HS-jupytgrad      1.0  287927.000000  ...          0.0     0.0            1.0
Masters        2657.0  181480.074896  ...          0.0  2824.0         2657.0
Preschool        83.0  238942.265060  ...          0.0  1719.0           83.0
Prof-school     834.0  186585.876499  ...          0.0  2824.0          834.0
Some-college  10878.0  190004.692131  ...          0.0  4356.0        10878.0


                   mean        std   min    25%   50%    75%   max
education
10th          36.986321  13.918007   1.0  30.00  40.0  40.00  99.0
11th          33.952539  13.996803   1.0  20.00  40.0  40.00  99.0
12th          35.374429  12.620268   4.0  25.00  40.0  40.00  99.0
1st-4th       38.761134  12.226671   4.0  35.00  40.0  40.00  96.0
5th-6th       38.923379  11.372194   3.0  40.00  40.0  40.00  99.0
7th-8th       39.003141  14.562775   2.0  35.00  40.0  40.00  99.0
9th           38.359788  11.464783   1.0  36.75  40.0  40.00  99.0
Assoc-acdm    40.809494  12.199101   1.0  40.00  40.0  45.00  99.0
Assoc-voc     41.658418  10.943312   1.0  40.00  40.0  45.00  99.0
Bachelors     42.482492  11.423058   1.0  40.00  40.0  50.00  99.0
Doctorate     46.582492  14.919597   1.0  40.00  45.0  55.00  99.0
HS-grad       40.640816  11.424203   1.0  40.00  40.0  43.00  99.0
HS-jupytgrad  40.000000        NaN  40.0  40.00  40.0  40.00  40.0
Masters       43.575837  12.140942   1.0  40.00  40.0  50.00  99.0
Preschool     36.566265  11.434002  10.0  30.00  40.0  40.00  75.0
Prof-school   47.579137  14.983435   2.0  40.00  48.0  55.00  99.0
Some-college  38.865784  12.796180   1.0  35.00  40.0  42.75  99.0

[17 rows x 48 columns]

## List all persons with a Bachelor degree as their highest degree sorted by their capital-loss in descending order

In [3]:
df_Bachelor = df[df['education'] == 'Bachelors'].sort_values(by = 'capital-loss', ascending = False)
df_Bachelor

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
41864,52.0,Private,106176,Bachelors,13,Divorced,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
33743,59.0,Private,157749,Bachelors,13,Widowed,Exec-managerial,Unmarried,White,Male,0,3004,40,United-States,>50K
29790,37.0,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,>50K
26797,34.0,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,>50K
45635,51.0,Self-emp-inc,200046,Bachelors,13,Separated,Sales,Unmarried,White,Male,0,2824,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16698,38.0,State-gov,143517,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Male,0,0,40,United-States,<=50K
16689,31.0,Local-gov,47276,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,38,United-States,>50K
16682,78.0,Self-emp-inc,385242,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,9386,0,45,United-States,>50K
16663,35.0,Private,140564,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
48841,35.0,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

## What is the sum of capital-loss for these persons?

In [6]:
np.sum(df_Bachelor['capital-loss'])

1001290

## How many males have a bachelor degree as their highest degree?

In [15]:
df_BM = df[(df['sex'] == 'Male') & (df['education'] == 'Bachelors')]
df_BM['sex'].value_counts()

sex
Male    5548
Name: count, dtype: int64

In [ ]:
((df['sex'] == 'Male') & (df['education'] == 'Bachelors')).sum()

5548

In [ ]:
df[df['sex'] == 'Male']['education'].value_counts().get('Bachelors',0)

5548

## List the 10 youngest persons with a bachelor degree or higher

In [20]:
df_age = df[df['education'].isin(['Bachelors', 'Doctorate', 'Masters', 'Prof-school'])].sort_values(by = 'age')
df_age.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
12183,18.0,Local-gov,155905,Masters,14,Never-married,Prof-specialty,Own-child,White,Female,0,0,60,United-States,<=50K
3591,19.0,Private,100999,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,30,United-States,<=50K
1570,19.0,NaN,62534,Bachelors,13,Never-married,NaN,Own-child,Black,Female,0,0,40,Jamaica,<=50K
31052,20.0,Private,190227,Masters,14,Never-married,Exec-managerial,Own-child,White,Male,0,0,25,United-States,<=50K
8415,20.0,Private,216436,Bachelors,13,Never-married,Sales,Other-relative,Black,Female,0,0,30,United-States,<=50K
8923,21.0,Private,182823,Bachelors,13,Never-married,Sales,Own-child,White,Male,0,0,30,United-States,<=50K
14436,21.0,Private,162667,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,40,Columbia,<=50K
37321,21.0,Private,224632,Bachelors,13,Never-married,Adm-clerical,Own-child,Black,Female,0,0,38,United-States,<=50K
34144,21.0,Private,238899,Bachelors,13,Never-married,Sales,Own-child,Black,Female,0,0,30,United-States,<=50K
3579,21.0,NaN,180303,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Male,0,0,25,NaN,<=50K

In [ ]:
df_age = df[df['education'].isin(['Bachelors', 'Doctorate', 'Masters', 'Prof-school'])].sort_values(by = 'age')
df_age.head(10)

# Quality of Government Dataset

In [26]:
# read the data directly online:
df=pd.read_csv("http://www.qogdata.pol.gu.se/data/qog_std_cs_jan22.csv")
df

,ccode,cname,ccode_qog,cname_qog,ccodealp,ccodecow,version,aii_acc,aii_aio,aii_cilser,...,wwbi_sprpemps,wwbi_sprpempt,wwbi_spupempn,wwbi_spupempp,wwbi_spupemps,wwbi_spupempt,wwbi_tertiarypubsec,yri_yoe,yri_yri35,yri_yri40
0,4,Afghanistan,4,Afghanistan,AFG,700.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,8,Albania,ALB,339.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,26.869801,0.565712
2,12,Algeria,12,Algeria,DZA,615.0,QoGStdCSjan22,6.25,12.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,Andorra,20,Andorra,AND,232.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,120.760000,0.863975
4,24,Angola,24,Angola,AGO,540.0,QoGStdCSjan22,18.75,17.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,860,Uzbekistan,860,Uzbekistan,UZB,704.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,45.807400,0.641416
190,862,Venezuela (Bolivarian Republic of),862,Venezuela,VEN,101.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,882,Samoa,882,Samoa,WSM,990.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,887,Yemen,887,Yemen,YEM,679.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,894,Zambia,894,Zambia,ZMB,551.0,QoGStdCSjan22,31.25,25.0,25.0,...,0.578589,0.219818,0.017781,0.109138,0.342219,0.530862,0.501821,2011.0,45.807400,0.298000

## How many rows does this dataset have?

In [ ]:
len(df)

194

## How many columns does this dataset have?

In [ ]:
df.shape[1]
# len(df[0]) not work
# len(df.columns)

1714

In [22]:
df.columns

Index(['ccode', 'cname', 'ccode_qog', 'cname_qog', 'ccodealp', 'ccodecow',
       'version', 'aii_acc', 'aii_aio', 'aii_cilser',
       ...
       'wwbi_sprpemps', 'wwbi_sprpempt', 'wwbi_spupempn', 'wwbi_spupempp',
       'wwbi_spupemps', 'wwbi_spupempt', 'wwbi_tertiarypubsec', 'yri_yoe',
       'yri_yri35', 'yri_yri40'],
      dtype='object', length=1714)

## For the following tasks, select these columns from the dataset:

"cname", "wdi_pop", "wdi_popgr", "wdi_gdpcapcur", "wdi_gdpcapgr", "wdi_area", "wdi_broadb", "ht_region"

In [27]:
selected_data = df[["cname", "wdi_pop", "wdi_popgr", "wdi_gdpcapcur", "wdi_gdpcapgr", "wdi_area", "wdi_broadb", "ht_region"]]
selected_data

,cname,wdi_pop,wdi_popgr,wdi_gdpcapcur,wdi_gdpcapgr,wdi_area,wdi_broadb,ht_region
0,Afghanistan,37171920.0,2.384309,493.756592,-1.194900,652860.0,0.043041,8
1,Albania,2866376.0,-0.246732,5284.380371,4.328395,27400.0,12.555659,1
2,Algeria,42228416.0,2.007399,4153.956055,-0.811233,2381741.0,7.262936,3
3,Andorra,77008.0,0.014285,41791.968750,1.574254,470.0,46.311977,5
4,Angola,30809788.0,3.276145,3289.644043,-5.162112,1246700.0,0.355605,4
...,...,...,...,...,...,...,...,...
189,Uzbekistan,32956100.0,1.736986,1529.082886,3.630670,440555.0,12.696998,1
190,Venezuela (Bolivarian Republic of),28887116.0,-1.768331,NaN,NaN,882050.0,9.016399,2
191,Samoa,196128.0,0.393373,4188.571289,-2.447773,2830.0,0.866129,9
192,Yemen,28498684.0,2.357044,824.117737,-1.594564,527970.0,1.355607,3
193,Zambia,17351714.0,2.912653,1516.371094,1.047921,743390.0,0.416259,4

## Rename these columns to: "country", "population","population_growth", "gdp_per_capita", "gdp_growth", "area", "internet", "region"

In [28]:
new_name = ["country", "population","population_growth", "gdp_per_capita", "gdp_growth", "area", "internet", "region"]
for i in range(len(new_name)):
    selected_data.rename(columns={selected_data.columns[i]:new_name[i]}, inplace=True)

selected_data

<ipython-input-28-475b039f5f8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_data.rename(columns={selected_data.columns[i]:new_name[i]}, inplace=True)

,country,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region
0,Afghanistan,37171920.0,2.384309,493.756592,-1.194900,652860.0,0.043041,8
1,Albania,2866376.0,-0.246732,5284.380371,4.328395,27400.0,12.555659,1
2,Algeria,42228416.0,2.007399,4153.956055,-0.811233,2381741.0,7.262936,3
3,Andorra,77008.0,0.014285,41791.968750,1.574254,470.0,46.311977,5
4,Angola,30809788.0,3.276145,3289.644043,-5.162112,1246700.0,0.355605,4
...,...,...,...,...,...,...,...,...
189,Uzbekistan,32956100.0,1.736986,1529.082886,3.630670,440555.0,12.696998,1
190,Venezuela (Bolivarian Republic of),28887116.0,-1.768331,NaN,NaN,882050.0,9.016399,2
191,Samoa,196128.0,0.393373,4188.571289,-2.447773,2830.0,0.866129,9
192,Yemen,28498684.0,2.357044,824.117737,-1.594564,527970.0,1.355607,3
193,Zambia,17351714.0,2.912653,1516.371094,1.047921,743390.0,0.416259,4

In [ ]:
selected_data.columns = ["country", "population", "population_growth", "gdp_per_capita", "gdp_growth", "area", "internet", "region"]

## Create a categorical column from the region codes
the codes (in order correspond to the regions as follows):
"Eastern Europe", "Latin America", "North Africa & Middle East", "Sub-Saharan Africa", "Western Europe and North America", "East Asia","South-East Asia", "South Asia", "Pacific", "Caribbean"

In [37]:
#region_codes = {}
regionN = ["Eastern Europe", "Latin America", "North Africa & Middle East", "Sub-Saharan Africa", "Western Europe and North America", "East Asia","South-East Asia", "South Asia", "Pacific", "Caribbean"]
#for i in range(1,10):
  #region_codes[i] = regionN[i-1]
region_codes = {key+1: value for key, value in enumerate(regionN)}
selected_data1['region_name'] = selected_data1['region'].map(region_codes)
selected_data1
#selected_data.loc[:, 'region_name'] = selected_data['region'].map(region_codes)

,country,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region,region_name
0,Afghanistan,37171920.0,2.384309,493.756592,-1.194900,652860.0,0.043041,8,South Asia
1,Albania,2866376.0,-0.246732,5284.380371,4.328395,27400.0,12.555659,1,Eastern Europe
2,Algeria,42228416.0,2.007399,4153.956055,-0.811233,2381741.0,7.262936,3,North Africa & Middle East
3,Andorra,77008.0,0.014285,41791.968750,1.574254,470.0,46.311977,5,Western Europe and North America
4,Angola,30809788.0,3.276145,3289.644043,-5.162112,1246700.0,0.355605,4,Sub-Saharan Africa
...,...,...,...,...,...,...,...,...,...
189,Uzbekistan,32956100.0,1.736986,1529.082886,3.630670,440555.0,12.696998,1,Eastern Europe
190,Venezuela (Bolivarian Republic of),28887116.0,-1.768331,NaN,NaN,882050.0,9.016399,2,Latin America
191,Samoa,196128.0,0.393373,4188.571289,-2.447773,2830.0,0.866129,9,Pacific
192,Yemen,28498684.0,2.357044,824.117737,-1.594564,527970.0,1.355607,3,North Africa & Middle East
193,Zambia,17351714.0,2.912653,1516.371094,1.047921,743390.0,0.416259,4,Sub-Saharan Africa

In [ ]:
regionN = ["Eastern Europe", "Latin America", "North Africa & Middle East", "Sub-Saharan Africa", "Western Europe and North America", "East Asia","South-East Asia", "South Asia", "Pacific", "Caribbean"]
region_codes = {key, value for key, value in enumerate(regionN)}
selected_data1['region_name'] = selected_data1['region'].map(region_codes)
selected_data1

In [29]:
selected_data1 = selected_data.copy()

In [ ]:
selected_data['region'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 194 entries, 0 to 193
Series name: region
Non-Null Count  Dtype
--------------  -----
194 non-null    int64
dtypes: int64(1)
memory usage: 1.6 KB

## Select the five countries with the highest population

In [34]:
selected_data1.sort_values(by = 'population', ascending = True).head()['country']

119            Nauru
179           Tuvalu
130            Palau
148       San Marino
99     Liechtenstein
Name: country, dtype: object

## What are the mean values for each attribute?

In [35]:
selected_data1.describe()

,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region
count,1.920000e+02,192.000000,189.000000,188.000000,1.930000e+02,189.000000,194.000000
mean,3.930178e+07,1.295607,16210.073792,1.856232,6.707763e+05,13.919198,4.505155
std,1.447560e+08,1.145389,26298.824404,2.982412,1.841246e+06,14.540677,2.643297
min,1.067800e+04,-1.768331,271.752502,-12.131799,2.027000e+00,0.001822,1.000000
25%,2.037214e+06,0.473990,2014.570312,0.585977,2.467000e+04,0.871731,3.000000
50%,8.861660e+06,1.231601,6145.818848,1.919880,1.203400e+05,8.551120,4.000000
75%,2.859579e+07,2.060348,17745.255859,3.823976,5.279700e+05,25.941820,6.000000
max,1.392730e+09,4.921024,185978.609375,13.446087,1.637687e+07,55.818920,10.000000

## Which country has the highest population in the region "South-East Asia"?

In [38]:
selected_data1[selected_data1['region_name'] == 'South-East Asia'].sort_values(by = 'population', ascending = False).head(1)['country']

77    Indonesia
Name: country, dtype: object

In [40]:
selected_data1[selected_data1['region_name']=='South-East Asia']['population'].max()

267670544.0

## Create a new column "population_density"

In [41]:
selected_data1['population_density'] = selected_data1['population'] / selected_data1['area']
selected_data1

,country,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region,region_name,population_density
0,Afghanistan,37171920.0,2.384309,493.756592,-1.194900,652860.0,0.043041,8,South Asia,56.937046
1,Albania,2866376.0,-0.246732,5284.380371,4.328395,27400.0,12.555659,1,Eastern Europe,104.612263
2,Algeria,42228416.0,2.007399,4153.956055,-0.811233,2381741.0,7.262936,3,North Africa & Middle East,17.730062
3,Andorra,77008.0,0.014285,41791.968750,1.574254,470.0,46.311977,5,Western Europe and North America,163.846809
4,Angola,30809788.0,3.276145,3289.644043,-5.162112,1246700.0,0.355605,4,Sub-Saharan Africa,24.713073
...,...,...,...,...,...,...,...,...,...,...
189,Uzbekistan,32956100.0,1.736986,1529.082886,3.630670,440555.0,12.696998,1,Eastern Europe,74.805870
190,Venezuela (Bolivarian Republic of),28887116.0,-1.768331,NaN,NaN,882050.0,9.016399,2,Latin America,32.749976
191,Samoa,196128.0,0.393373,4188.571289,-2.447773,2830.0,0.866129,9,Pacific,69.303180
192,Yemen,28498684.0,2.357044,824.117737,-1.594564,527970.0,1.355607,3,North Africa & Middle East,53.977847
193,Zambia,17351714.0,2.912653,1516.371094,1.047921,743390.0,0.416259,4,Sub-Saharan Africa,23.341334

## (Optional) What is the per country mean population density for each region
(= sum of densities for each country / number of countries)

Hint: you might want to use [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) method

In [42]:
region_group = selected_data1.groupby('region_name')
region_group['population_density'].sum()/region_group['country'].count()

region_name
Caribbean                           207.389246
East Asia                           206.386572
Eastern Europe                       70.576906
Latin America                        91.964179
North Africa & Middle East          232.139084
Pacific                             159.342345
South Asia                          538.999939
South-East Asia                     851.349732
Sub-Saharan Africa                  106.770292
Western Europe and North America    906.991479
dtype: float64

## (Optional) What is the actual population density in each region

(= sum of population in the region / sum of areas in the region)

Hint: Compute first the population sum and the area sum for each region

In [ ]:
region_group['population'].sum()/region_group['area'].sum()

region_name
East Asia                           138.319947
Eastern Europe                       18.070385
Latin America                        32.072266
North Africa & Middle East           43.974291
Pacific                              21.393378
South Asia                          380.328779
South-East Asia                     148.696349
Sub-Saharan Africa                   45.058866
Western Europe and North America     27.534886
dtype: float64