# Pandas

## Open file adult.csv as Pandas' DataFrame. Specify that missing values are denoted by '?'

The file is available in the ILIAS folder.

You can learn a bit more about this dataset [here](https://archive.ics.uci.edu/ml/datasets/adult)

In [9]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Exercise 08.adult.csv', na_values= '?')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,NaN,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28.0,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39.0,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
48838,64.0,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K
48839,38.0,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48840,44.0,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35.0,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

## What are all the different values for the attribute education?

In [5]:
set(df.education)

{'10th',
 '11th',
 '12th',
 '1st-4th',
 '5th-6th',
 '7th-8th',
 '9th',
 'Assoc-acdm',
 'Assoc-voc',
 'Bachelors',
 'Doctorate',
 'HS-grad',
 'HS-jupytgrad',
 'Masters',
 'Preschool',
 'Prof-school',
 'Some-college'}

## List all persons with a Bachelor degree as their highest degree sorted by their capital-loss in descending order

In [7]:
df_Bachelor = df[df['education'] == 'Bachelors'].sort_values(by = 'capital-loss', ascending = False)
df_Bachelor

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
41864,52.0,Private,106176,Bachelors,13,Divorced,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
33743,59.0,Private,157749,Bachelors,13,Widowed,Exec-managerial,Unmarried,White,Male,0,3004,40,United-States,>50K
29790,37.0,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,>50K
26797,34.0,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,>50K
45635,51.0,Self-emp-inc,200046,Bachelors,13,Separated,Sales,Unmarried,White,Male,0,2824,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16698,38.0,State-gov,143517,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Male,0,0,40,United-States,<=50K
16689,31.0,Local-gov,47276,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,38,United-States,>50K
16682,78.0,Self-emp-inc,385242,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,9386,0,45,United-States,>50K
16663,35.0,Private,140564,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
48841,35.0,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

## What is the sum of capital-loss for these persons?

In [10]:
np.sum(df_Bachelor['capital-loss'])

1001290

## How many males have a bachelor degree as their highest degree?

In [17]:
df_BM = df[(df['sex'] == 'Male') & (df['education'] == 'Bachelors')]
df_BM

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,NaN,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
9,42.0,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30.0,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
25,56.0,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48806,51.0,Self-emp-not-inc,311631,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
48836,33.0,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
48839,38.0,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48840,44.0,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35.0,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [19]:
((df['sex'] == 'Male') & (df['education'] == 'Bachelors')).sum()

5548

In [20]:
df[df['sex'] == 'Male']['education'].value_counts().get('Bachelors',0)

5548

## List the 10 youngest persons with a bachelor degree or higher

In [24]:
df_age = df[df['education'].isin(['Bachelors', 'Doctorate', 'Masters'])].sort_values(by = 'age')
df_age.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
12183,18.0,Local-gov,155905,Masters,14,Never-married,Prof-specialty,Own-child,White,Female,0,0,60,United-States,<=50K
1570,19.0,NaN,62534,Bachelors,13,Never-married,NaN,Own-child,Black,Female,0,0,40,Jamaica,<=50K
3591,19.0,Private,100999,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,30,United-States,<=50K
8415,20.0,Private,216436,Bachelors,13,Never-married,Sales,Other-relative,Black,Female,0,0,30,United-States,<=50K
31052,20.0,Private,190227,Masters,14,Never-married,Exec-managerial,Own-child,White,Male,0,0,25,United-States,<=50K
636,21.0,Private,226181,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
8923,21.0,Private,182823,Bachelors,13,Never-married,Sales,Own-child,White,Male,0,0,30,United-States,<=50K
5256,21.0,Private,362589,Bachelors,13,Never-married,Other-service,Own-child,White,Female,0,0,20,United-States,<=50K
37321,21.0,Private,224632,Bachelors,13,Never-married,Adm-clerical,Own-child,Black,Female,0,0,38,United-States,<=50K
3579,21.0,NaN,180303,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Male,0,0,25,NaN,<=50K

# Quality of Government Dataset

In [26]:
# read the data directly online:
df=pd.read_csv("http://www.qogdata.pol.gu.se/data/qog_std_cs_jan22.csv")
df

,ccode,cname,ccode_qog,cname_qog,ccodealp,ccodecow,version,aii_acc,aii_aio,aii_cilser,...,wwbi_sprpemps,wwbi_sprpempt,wwbi_spupempn,wwbi_spupempp,wwbi_spupemps,wwbi_spupempt,wwbi_tertiarypubsec,yri_yoe,yri_yri35,yri_yri40
0,4,Afghanistan,4,Afghanistan,AFG,700.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,8,Albania,ALB,339.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,26.869801,0.565712
2,12,Algeria,12,Algeria,DZA,615.0,QoGStdCSjan22,6.25,12.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,Andorra,20,Andorra,AND,232.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,120.760000,0.863975
4,24,Angola,24,Angola,AGO,540.0,QoGStdCSjan22,18.75,17.5,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,860,Uzbekistan,860,Uzbekistan,UZB,704.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,45.807400,0.641416
190,862,Venezuela (Bolivarian Republic of),862,Venezuela,VEN,101.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,882,Samoa,882,Samoa,WSM,990.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,887,Yemen,887,Yemen,YEM,679.0,QoGStdCSjan22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,894,Zambia,894,Zambia,ZMB,551.0,QoGStdCSjan22,31.25,25.0,25.0,...,0.578589,0.219818,0.017781,0.109138,0.342219,0.530862,0.501821,2011.0,45.807400,0.298000

## How many rows does this dataset have?

In [27]:
len(df)

194

## How many columns does this dataset have?

In [31]:
df.shape[1]
# len(df[0]) not work
# len(df.columns)

1714

## For the following tasks, select these columns from the dataset:

"cname", "wdi_pop", "wdi_popgr", "wdi_gdpcapcur", "wdi_gdpcapgr", "wdi_area", "wdi_broadb", "ht_region"

In [44]:
selected_data = df[["cname", "wdi_pop", "wdi_popgr", "wdi_gdpcapcur", "wdi_gdpcapgr", "wdi_area", "wdi_broadb", "ht_region"]]
selected_data

,cname,wdi_pop,wdi_popgr,wdi_gdpcapcur,wdi_gdpcapgr,wdi_area,wdi_broadb,ht_region
0,Afghanistan,37171920.0,2.384309,493.756592,-1.194900,652860.0,0.043041,8
1,Albania,2866376.0,-0.246732,5284.380371,4.328395,27400.0,12.555659,1
2,Algeria,42228416.0,2.007399,4153.956055,-0.811233,2381741.0,7.262936,3
3,Andorra,77008.0,0.014285,41791.968750,1.574254,470.0,46.311977,5
4,Angola,30809788.0,3.276145,3289.644043,-5.162112,1246700.0,0.355605,4
...,...,...,...,...,...,...,...,...
189,Uzbekistan,32956100.0,1.736986,1529.082886,3.630670,440555.0,12.696998,1
190,Venezuela (Bolivarian Republic of),28887116.0,-1.768331,NaN,NaN,882050.0,9.016399,2
191,Samoa,196128.0,0.393373,4188.571289,-2.447773,2830.0,0.866129,9
192,Yemen,28498684.0,2.357044,824.117737,-1.594564,527970.0,1.355607,3
193,Zambia,17351714.0,2.912653,1516.371094,1.047921,743390.0,0.416259,4

## Rename these columns to: "country", "population","population_growth", "gdp_per_capita", "gdp_growth", "area", "internet", "region"

In [49]:
new_name = ["country", "population","population_growth", "gdp_per_capita", "gdp_growth", "area", "internet", "region"]
for i in range(len(new_name)):
    selected_data.rename(columns={selected_data.columns[i]:new_name[i]}, inplace=True)

selected_data

<ipython-input-49-475b039f5f8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_data.rename(columns={selected_data.columns[i]:new_name[i]}, inplace=True)

,country,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region
0,Afghanistan,37171920.0,2.384309,493.756592,-1.194900,652860.0,0.043041,8
1,Albania,2866376.0,-0.246732,5284.380371,4.328395,27400.0,12.555659,1
2,Algeria,42228416.0,2.007399,4153.956055,-0.811233,2381741.0,7.262936,3
3,Andorra,77008.0,0.014285,41791.968750,1.574254,470.0,46.311977,5
4,Angola,30809788.0,3.276145,3289.644043,-5.162112,1246700.0,0.355605,4
...,...,...,...,...,...,...,...,...
189,Uzbekistan,32956100.0,1.736986,1529.082886,3.630670,440555.0,12.696998,1
190,Venezuela (Bolivarian Republic of),28887116.0,-1.768331,NaN,NaN,882050.0,9.016399,2
191,Samoa,196128.0,0.393373,4188.571289,-2.447773,2830.0,0.866129,9
192,Yemen,28498684.0,2.357044,824.117737,-1.594564,527970.0,1.355607,3
193,Zambia,17351714.0,2.912653,1516.371094,1.047921,743390.0,0.416259,4

## Create a categorical column from the region codes
the codes (in order correspond to the regions as follows):
"Eastern Europe", "Latin America", "North Africa & Middle East", "Sub-Saharan Africa", "Western Europe and North America", "East Asia","South-East Asia", "South Asia", "Pacific", "Caribbean"

In [60]:
region_codes = {}
regionN = ["Eastern Europe", "Latin America", "North Africa & Middle East", "Sub-Saharan Africa", "Western Europe and North America", "East Asia","South-East Asia", "South Asia", "Pacific", "Caribbean"]
for i in range(1,10):
  region_codes[i] = regionN[i-1]
selected_data1['region_name'] = selected_data1['region'].map(region_codes)
selected_data1
#selected_data.loc[:, 'region_name'] = selected_data['region'].map(region_codes)

,country,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region,region_name
0,Afghanistan,37171920.0,2.384309,493.756592,-1.194900,652860.0,0.043041,8,South Asia
1,Albania,2866376.0,-0.246732,5284.380371,4.328395,27400.0,12.555659,1,Eastern Europe
2,Algeria,42228416.0,2.007399,4153.956055,-0.811233,2381741.0,7.262936,3,North Africa & Middle East
3,Andorra,77008.0,0.014285,41791.968750,1.574254,470.0,46.311977,5,Western Europe and North America
4,Angola,30809788.0,3.276145,3289.644043,-5.162112,1246700.0,0.355605,4,Sub-Saharan Africa
...,...,...,...,...,...,...,...,...,...
189,Uzbekistan,32956100.0,1.736986,1529.082886,3.630670,440555.0,12.696998,1,Eastern Europe
190,Venezuela (Bolivarian Republic of),28887116.0,-1.768331,NaN,NaN,882050.0,9.016399,2,Latin America
191,Samoa,196128.0,0.393373,4188.571289,-2.447773,2830.0,0.866129,9,Pacific
192,Yemen,28498684.0,2.357044,824.117737,-1.594564,527970.0,1.355607,3,North Africa & Middle East
193,Zambia,17351714.0,2.912653,1516.371094,1.047921,743390.0,0.416259,4,Sub-Saharan Africa

In [58]:
selected_data1 = selected_data.copy()

In [56]:
selected_data['region'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 194 entries, 0 to 193
Series name: region
Non-Null Count  Dtype
--------------  -----
194 non-null    int64
dtypes: int64(1)
memory usage: 1.6 KB

## Select the five countries with the highest population

In [70]:
selected_data1.sort_values(by = 'population', ascending = True).head()['country']

119            Nauru
179           Tuvalu
130            Palau
148       San Marino
99     Liechtenstein
Name: country, dtype: object

## What are the mean values for each attribute?

In [69]:
selected_data1.describe()

,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region
count,1.920000e+02,192.000000,189.000000,188.000000,1.930000e+02,189.000000,194.000000
mean,3.930178e+07,1.295607,16210.073792,1.856232,6.707763e+05,13.919198,4.505155
std,1.447560e+08,1.145389,26298.824404,2.982412,1.841246e+06,14.540677,2.643297
min,1.067800e+04,-1.768331,271.752502,-12.131799,2.027000e+00,0.001822,1.000000
25%,2.037214e+06,0.473990,2014.570312,0.585977,2.467000e+04,0.871731,3.000000
50%,8.861660e+06,1.231601,6145.818848,1.919880,1.203400e+05,8.551120,4.000000
75%,2.859579e+07,2.060348,17745.255859,3.823976,5.279700e+05,25.941820,6.000000
max,1.392730e+09,4.921024,185978.609375,13.446087,1.637687e+07,55.818920,10.000000

## Which country has the highest population in the region "South-East Asia"?

In [79]:
selected_data1[selected_data1['region_name'] == 'South-East Asia'].sort_values(by = 'population', ascending = False).head(1)['country']

77    Indonesia
Name: country, dtype: object

## Create a new column "population_density"

In [80]:
selected_data1['population_density'] = selected_data1['population'] / selected_data1['area']
selected_data1

,country,population,population_growth,gdp_per_capita,gdp_growth,area,internet,region,region_name,population_density
0,Afghanistan,37171920.0,2.384309,493.756592,-1.194900,652860.0,0.043041,8,South Asia,56.937046
1,Albania,2866376.0,-0.246732,5284.380371,4.328395,27400.0,12.555659,1,Eastern Europe,104.612263
2,Algeria,42228416.0,2.007399,4153.956055,-0.811233,2381741.0,7.262936,3,North Africa & Middle East,17.730062
3,Andorra,77008.0,0.014285,41791.968750,1.574254,470.0,46.311977,5,Western Europe and North America,163.846809
4,Angola,30809788.0,3.276145,3289.644043,-5.162112,1246700.0,0.355605,4,Sub-Saharan Africa,24.713073
...,...,...,...,...,...,...,...,...,...,...
189,Uzbekistan,32956100.0,1.736986,1529.082886,3.630670,440555.0,12.696998,1,Eastern Europe,74.805870
190,Venezuela (Bolivarian Republic of),28887116.0,-1.768331,NaN,NaN,882050.0,9.016399,2,Latin America,32.749976
191,Samoa,196128.0,0.393373,4188.571289,-2.447773,2830.0,0.866129,9,Pacific,69.303180
192,Yemen,28498684.0,2.357044,824.117737,-1.594564,527970.0,1.355607,3,North Africa & Middle East,53.977847
193,Zambia,17351714.0,2.912653,1516.371094,1.047921,743390.0,0.416259,4,Sub-Saharan Africa,23.341334

## (Optional) What is the per country mean population density for each region
(= sum of densities for each country / number of countries)

Hint: you might want to use [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) method

In [87]:
region_group = selected_data1.groupby('region_name')
region_group['population_density'].sum()/region_group['country'].count()

region_name
East Asia                           206.386572
Eastern Europe                       70.576906
Latin America                        91.964179
North Africa & Middle East          232.139084
Pacific                             159.342345
South Asia                          538.999939
South-East Asia                     851.349732
Sub-Saharan Africa                  106.770292
Western Europe and North America    906.991479
dtype: float64

## (Optional) What is the actual population density in each region

(= sum of population in the region / sum of areas in the region)

Hint: Compute first the population sum and the area sum for each region

In [89]:
region_group['population'].sum()/region_group['area'].sum()

region_name
East Asia                           138.319947
Eastern Europe                       18.070385
Latin America                        32.072266
North Africa & Middle East           43.974291
Pacific                              21.393378
South Asia                          380.328779
South-East Asia                     148.696349
Sub-Saharan Africa                   45.058866
Western Europe and North America     27.534886
dtype: float64