<a href="https://colab.research.google.com/github/andy7622y/myfb/blob/main/IS557/557review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
7//3, 23 % 9

(2, 5)

In [ ]:
b = 3.0
bb = 3
print(b//2)
print(type(b//2))
print(bb//2)
print(type(bb//2))

1.0
<class 'float'>
1
<class 'int'>

In [ ]:
3 + False, 4 + True

(3, 5)

List

In [ ]:
type(range(4))

range

In [ ]:
# Lists of Lists
l = [[1,2],[3,4]]
l[:][:-1]

[[1, 2]]

In [ ]:
mylist = ['alpha', 'beta', 'gamma', 'delta', 'epsilon']
mylist.insert (1, "new_element") # Inserts an element at a given position
mylist.remove('delta')

In [ ]:
mylist[1:3] # [1,2]

['beta', 'gamma']

In [ ]:
mylist[:-1]

['alpha', 'beta', 'gamma', 'delta']

In [ ]:
mylist = [1, 2, 3, 0, 1, 5, 4, 3, 5, 5, 2]

print(mylist.count(5)) # How often does the value 5 appear?
print(mylist.index(0)) # At which position does the value 0 appear for the first time?

In [ ]:
mylist = ['a', 'b', 'c', 'd'] # returns the last value and removes it from the list
x = mylist.pop()
print(mylist)
print(x)

In [ ]:
mylist1 = [2, 1, 4, 3, 6, 5, 8, 7]
mylist1.reverse()
mylist1

In [ ]:
mylist = [2,1,4,3,6,5,8,7]
mylist.sort()
mylist

In [ ]:
mylist.extend(mylist1)

string

In [ ]:
a = "Hello"
a.startswith('e'), a.split('l'), [c*2 for c in a]
# Bool, '' between two 'l', each part has ''

(False, ['He', '', 'o'], ['HH', 'ee', 'll', 'll', 'oo'])

In [ ]:
s = "This is just our first exercise"
s.split(' ')

['This', 'is', 'just', 'our', 'first', 'exercise']

In [ ]:
s.upper()
print(s)
# .upper() does not save in it

This is just our first exercise

In [ ]:
s2 = s.replace(' ', '')
s2

'Thisisjustourfirstexercise'

In [ ]:
s.count(' ')

5

In [ ]:
mylist_1 = sorted(s.split(), key=str.lower) # only sort using the str.lower function
print(mylist_1)

['exercise', 'first', 'is', 'just', 'our', 'This']

In [ ]:
s1.intersection(s2) # another way to find the duplicates

tuples

In [ ]:
lst = [1, 3, 2, 4, 5, 3, 6, 1]
set(lst)
# also rank

{1, 2, 3, 4, 5, 6}

In [ ]:
t = (1, 2, 3, 4, 5)
t[2] = t[2] - sum(t)
print(t)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup = (1, 2, 3, 4)
sum(tup)

10

In [ ]:
# Tuples
t = (5, 2)
t1 = (1,) # a tuple with only one element
x, y = t
#t[0] = 1 would fail because tuples do not support item assignment
len(t), x, y, type(t1), t*2

(2, 5, 2, tuple, (5, 2, 5, 2))

In [ ]:
# Sets
s = {5, 2, 2}
# s[0] = 1 would fail because tuples do not support item assignment
s.add(3)
len(s), s, {i*2 for i in s}
# for sets, also cannot repetition

(3, {2, 3, 5}, {4, 6, 10})

loop for/while

In [ ]:
year = 2000
if (year % 4 == 0) and (year % 100 != 0 or year % 400 == 0):
    print('leap year')
else:
    print('normal year')

leap year

object/class

In [ ]:
x = 2233
x.bit_length()

#how many bits needed to store it

In [ ]:
x = [4, 5]
y = [4, 5]
x == y, x is y, x is x, id(y), id(x)
# x.copy() / x[:] not mean x == y

In [ ]:
class Coordinate:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __str__(self):
        return 'x: ' + str(self.x) + ', y: ' + str(self.y)

    def length(self):
        return (self.x ** 2 + self.y ** 2) ** 0.5

    def __ge__(self, other):
        return self.length() >= other.length()

    def __neg__(self):
        return Coordinate(-self.x, -self.y)

    def __repr__(self):
        return self.__str__()

    def __eq__(self, other):
        return self.x == other.x and self.y == other.y

In [ ]:
c1 = Coordinate(3, 4)
c1.length()

In [ ]:
c1

In [ ]:
c2 = Coordinate(-2, -3)

In [ ]:
c1 >= c2  # __ge__

NUMPY

In [ ]:
# Element-Wise Operations
np.array([2,3]*2), np.array([2,3])*2

In [ ]:
# Initializing Arrays
np.empty((2, 3)), np.zeros(2), np.ones(3), np.arange(1,8,2), np.linspace(1,10,11)