# Data structures

## Lists

### Create a list that contains the 4 elements "alpha", "beta", "gamma", and "delta"

In [2]:
list1 = ["alpha", "beta", "gamma", "delta"]

### Add "epsilon" to the end of this list

In [5]:
list1.append("epsilon")
list1

['alpha', 'beta', 'gamma', 'delta', 'epsilon', 'epsilon']

### Create a sublist with the first three elements of this list

In [9]:
list1_sub = list1[:3]
list1_sub

['alpha', 'beta', 'gamma']

### What is the fifth word in the sentence "This is just our first exercise"

In [11]:
string1 = "This is just our first exercise"
list2 = string1.split()
list2[4]

'first'

### How many letters does this sentences have (including and excluding spaces?)

In [14]:
lettersin = len(string1)
string1ex = string1.replace(" ", "")
lettersex = len(string1ex)
print(lettersin)
print(lettersex)

31
26

### How many words has this sentence?

In [15]:
len(list2)

6

### Sort all words contained in this sentence alphabetically

In [32]:
sl_lower = string1.lower()
s1_split = sl_lower.split()
s1_split.sort()
s1_split

['exercise', 'first', 'is', 'just', 'our', 'this']

### Check if  two lists contain the same elements

In [9]:
listcheck1 = ["apple", 2, 3, 4]
listcheck2 = ["apple1", 41, 6, 345]

for i in listcheck1:
    if i in listcheck2:
        print(True)
        break
else:
    print(False)

False

## Tuples

### Add all the elements of a tuple and print the sum

In [13]:
tuple1 = (1, 2, 3, 9)
a = 0
for i in tuple1:
    a += i
print(a)

15

# Flow control

## Conditions (If/Else)

### Given a temperature in Fahrenheit, convert it to Celsius and determine the temperature category.

- If the temperature in Celsius is below 0, print 'Freezing'.
- If it is between 0 and 20, print 'Cool'.
- If it is between 21 and 30, print 'Warm'.
- Otherwise, print 'Hot'.

Formula to convert Fahrenheit to Celsius:
$ C = (F - 32) \times \frac{5}{9}$

In [24]:
def convertf(f):
    c = (f - 32) * 5 / 9
    print(c)
    if c < 0:
        print("Freezing")
    elif 0 <= c <= 20:
        print("Cool")
    elif 20 < c <= 30:
        print("Warm")
    else:
        print("Hot")
        
convertf(40)

4.444444444444445
Cool

### Given a year check whether it is a leap year or not

In [34]:
def leapyear(y):
    if y % 4 == 0 and y % 100 != 0:
        print(True)
    else:
        print(False)

leapyear(1904)

True

### Given a number print 'flash' if it is only divisible 5, print 'bang' if it is only divisible by 11 and print 'flashbang' if it is divisible by both 5 and 11

In [40]:
def number(n):
    if n % 5 == 0 and n % 11 == 0:
        print('flashbang')
    elif n % 5 == 0:
        print('flash')
    elif n % 11 == 0:
        print('bang')
        
number(22)
number(21)
number(55)

bang
flashbang

# Loops

### Print the pattern below
Try to make your code as short as possible!

*
**
***
****
*****
****
***
**
*

In [67]:

for i in range(6):
    print("*" * i)
for y in range(4, 0, -1):
    print("*" * y)

*
**
***
****
*****
****
***
**
*

### Print all the natural number between 10 and 50 in reverse

In [48]:
listnn = [i for i in range(50, 9, -1)]
print(listnn)

[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [51]:
listnn1 = [i for i in range(10, 51)]
listnn1.reverse()
print(listnn1)

[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

### Given a number print its digits in reverse.

In [60]:
string2 = "548"
splitr = list(string2)
splitr.reverse()
splitr

['8', '4', '5']

In [64]:
def rev(n):
    listsplit = list(str(n))
    listsplit.reverse()
    res = "".join(listsplit)
    print(res)
    
rev(512)

215