### List comprehension
List comprehensions are a unique feature of Python that allows you to create new lists in a very concise and readable manner. It is a way of defining and constructing lists in just one line of code. Suppose you want to create a list that contains the squares of elements from another list. You might initially think to do it in the following way:

In [1]:
my_list = [2, 6, 5, 4, 66, 9, 100, 55, 4, 6, 4, 2]

In [6]:
new_list = []
for x in my_list:
    new_list.append(x ** 2)
new_list

[4, 36, 25, 16, 4356, 81, 10000, 3025, 16, 36, 16, 4]

However, this approach is not very concise or Pythonic. Python provides an alternative, more efficient way of achieving the same result:

In [5]:
new_list = [x ** 2 for x in my_list]
new_list

[4, 36, 25, 16, 4356, 81, 10000, 3025, 16, 36, 16, 4]

Moreover, you can also incorporate a condition to filter the items from the original list that you want to include in the new list:

In [8]:
new_list = [x ** 2 for x in my_list if x > 10]
new_list

[4356, 10000, 3025]

Here are a few more examples:

In [9]:
[c.upper() for c in 'Python']

['P', 'Y', 'T', 'H', 'O', 'N']

In [13]:
[c for c in my_list]

[2, 6, 5, 4, 66, 9, 100, 55, 4, 6, 4, 2]

In [10]:
y = 3
[y * i + 4 for i in range(10)]

[4, 7, 10, 13, 16, 19, 22, 25, 28, 31]

In addition to list comprehensions, Python also supports dictionary comprehensions. They are constructed in a similar manner to list comprehensions, but result in a dictionary instead of a list:

In [11]:
d = {x: x**2 for x in my_list}
d

{2: 4, 6: 36, 5: 25, 4: 16, 66: 4356, 9: 81, 100: 10000, 55: 3025}

Just like with list comprehensions, you can also apply filters to dictionary comprehensions to include only the key-value pairs that meet a certain condition:

In [14]:
d = {x: x**2 for x in my_list if x > 10}
d

{66: 4356, 100: 10000, 55: 3025}

In [27]:
my_dict = {'1':23, '2':34}
my_dict
{k: v + 1 for k,v in my_dict.items()}

# not 'in my_dict' but 'in my_dict.items'

{'1': 24, '2': 35}

In [28]:
{k:v ** 2 for k,v in my_dict.items() if v > 30}

{'2': 1156}

# Functions
A function in Python is a block of organized, reusable code that is used to perform a single, related action.

A function can be defined as follows:

- **Name**: Every function has a name by which it can be called. The name of the function should be meaningful, describing what the function does.
- **Input Parameters**: These are the values that a function takes in order to perform its operation. They are optional; a function can have no parameters.
- **Return Value**: This is the output of the function. A function can return a value which can then be used as an input for another function or assigned to a variable.

Python provides many built-in functions like `print()`

In [29]:
print("Hello")
print("World")

Hello
World

In [33]:
x = print('Hello')
print(x)

# print(x) returns None

Hello
None

Some parameters of a function might have default values; in that case, it is not necessary to specify them:

In [30]:
print ("Hello", end = "")
print ("World", end = "")

HelloWorld

One can use the help function to easily access Python documentation:

In [31]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

From that, we can learn that there is a sep parameter with a default value equal to space:

In [35]:
print('Hello', 'World')

Hello World

In [34]:
print('Hello', 'World', sep = ',')

Hello,World

Let's consider another example:

In [36]:
x = 2.75123
round(x)

3

In [37]:
x = 2.75123
round(x, 2)

2.75

An essential element for solving more complex problems is the ability to define your own functions. This practice encapsulates code, making it reusable and more organized.

In [38]:
def increment_function(x):
    x = x + 1
    return x

Once defined, custom functions can be invoked in the same manner as built-in functions that already exist in Python.

In [39]:
y = increment_function(2)
y

3

In [41]:
def increment_and_print_function(x):
    x = x + 1
    print (x)
    return x

In [47]:
y = increment_and_print_function(5)

6

It is also possible to define functions that do not have any input parameters or do not return any values.

In [43]:
def print_full_address():
    print ("Max Mustermann")
    print ("C3 6")
    print ("68159 Mannheim")

In [44]:
print_full_address()

Max Mustermann
C3 6
68159 Mannheim

If a function does not specify a return value, it implicitly returns a special object called "None". This is Python's way of representing the absence of a value or a null value.

In [45]:
x = print_full_address()
print("______")
print(x)

Max Mustermann
C3 6
68159 Mannheim
______
None

### Using default values and specifying parameters by name

Default values for parameters make it optional to provide values during a function call. If a value for a parameter is not provided, the default value specified in the function definition will be used.

In [48]:
# Of course, a function can have multiple parameters (practically no limit on the number)
def my_division (nominator, denominator):
    return nominator / denominator

my_division(12, 4)

3.0

In [49]:
my_division(denominator = 10, nominator = 5)

0.5

In [50]:
my_division(3,1)

3.0

In [51]:
def division_default(nominator, denominator = 2):
    return nominator / denominator

In [52]:
division_default (10)

5.0

In [54]:
division_default(10,5)

# not error

2.0

## Unpacking Arguments

The * operator can be used to unpack an arbitrary number of objects from an iterable

In [55]:
def my_sum(*args):
    result = 0
    for element in args:
        result += element
    return result

In [56]:
my_sum(2,2,3,4,1)

12

This functionality is also supported by the built-in print function!

In [57]:
print("Hello", "World", 1, "!")

Hello World 1 !

Additionally, keyword arguments can be used to pass any additional parameters to a function. This allows you to specify the values for some parameters by name, making the code more readable and allowing you to skip providing values for parameters with default values that you do not need to change.

In [58]:
def weird_function (x, y, **kwargs):
    for key in kwargs:
        print ("Another parameter:", key)
        print ("the value of this parameter is", kwargs[key])
    return x + y

In [70]:
def weird_function1(**kwargs):
  for k, v in kwargs.items():
    print('doule:', k)
    print('origin:', v * 2)

weird_function1(i = 6, x = 3)

doule: i
origin: 12
doule: x
origin: 6

In [71]:
 def weird_function2(**kwargs):
    for key in kwargs:
        print ("Another parameter:", key)
        print ("the value:", kwargs[key] * 2)

 weird_function2(i = 6, x = 3)

Another parameter: i
the value: 12
Another parameter: x
the value: 6

In [59]:
weird_function (10, 5, another_param = 5, yet_another_param = 10)

Another parameter: another_param
the value of this parameter is 5
Another parameter: yet_another_param
the value of this parameter is 10

15

In [60]:
weird_function(2, 6, a = 1, b = 2)

Another parameter: a
the value of this parameter is 1
Another parameter: b
the value of this parameter is 2

8

## Scope of Variables

The scope of a variable refers to the regions of the code where the variable is accessible or visible. Variables defined inside a function have a local scope, meaning they are only accessible within that function.

In [72]:
x = 2
def increment_value(x):
    y = x + 1
    return y
y

6

If a variable is assigned a new value inside a function, that new value is only recognized within the function. Outside the function, the variable retains its original value.

In [76]:
x = 2

In [80]:
def increment_value(x):
    x = x + 1
    return x

y = increment_value(x)
print ("x:", x)
print ("y:", y)

x: 2
y: 3

In [84]:
increment_value(x)
x

2

In [96]:
x = 2
for x in range(10):
  if x > 5:
    x *= 2
    print(x)

12
14
16
18

## Lambda Functions
Lambda functions are a way to create small anonymous functions, i.e., functions without a name. They are a concise way to define a function in Python:

In [97]:
f = lambda x: x * 5 + 1

In [98]:
f(2)

11

Lambda functions are often used as arguments to higher-order functions, i.e., functions that take other functions as parameters.

[How to sort a dictionary by value](https://stackoverflow.com/questions/613183/how-do-i-sort-a-dictionary-by-value)

In [99]:
x = {'a': 2, 'b': 4, 'c': 3, 'd': 1, 'e': 0}
sorted(x.items(), key = lambda item: item[1])

[('e', 0), ('d', 1), ('a', 2), ('c', 3), ('b', 4)]

## Recursive Functions

You can also call a function from within itself. This will results in a recursion for which you'd usually also need to define a stopping criterium.

In [102]:
def recursive_function(n):
    if n == 0:
        print("reached zero")
    else:
        print(n)
        recursive_function(n-1)  # beware that Python (and computers in general) have a maximum recursion depth

recursive_function(5)

5
4
3
2
1
reached zero

## Type Hints & Docstrings

While parameters do not have strict types in Python, you can use type hints to suggest a datatype you would expect. Docstrings at the beginning of the function can be used for documentation and follow some (non-standardized) format as well.

In [111]:
def my_function(param1: int, param2: float = 0.3) -> int:
    """A function with type hints and docstrings.

    Params
    ------
    - param1: a parameter of type int
    - param2: a parameter of type float

    Returns
    ------
    - sum of the parameters
    """
    return param1 + int(param2)

In [110]:
my_function(3, 3)

6