# Data structures

## Lists

### Create a list that contains the 4 elements "alpha", "beta", "gamma", and "delta"

In [1]:
mylist = ["alpha", "beta", "gamma", "delta"]

### Add "epsilon" to the end of this list

In [2]:
mylist.append("epsilon")

In [3]:
mylist

['alpha', 'beta', 'gamma', 'delta', 'epsilon']

### Create a sublist with the first three elements of this list

In [6]:
mylist[1:3]

['alpha', 'beta', 'gamma']

In [7]:
mylist[3:]

['delta', 'epsilon']

In [8]:
mylist[:3] + mylist[3:]

['alpha', 'beta', 'gamma', 'delta', 'epsilon']

### What is the fifth word in the sentence "This is just our first exercise"

In [2]:
s = "This is just our first exercise"
s.split(' ')[4]

'first'

In [11]:
s.split(' ')

['This', 'is', 'just', 'our', 'first', 'exercise']

### How many letters does this sentences have (including and excluding spaces?)

In [12]:
print(len(s))

31

In [13]:
s2 = s.replace(' ', '')
print(s2, len(s2))

Thisisjustourfirstexercise 26

In [16]:
# Here's a way to solve this without using the .replace() function
my_sum = 0
for w in s.split():
    print(len(w))
    my_sum += len(w)
my_sum

4
2
4
3
5
8

26

In [14]:
word_lengths = [len(w) for w in s.split()] # a list comprehension
word_lengths

[4, 2, 4, 3, 5, 8]

In [ ]:
sum(word_lengths)

In [17]:
sum([len(w) for w in s.split()]) # combine list comprehensions & the sum() function

26

In [19]:
sum([1 for c in s if c != ' ']) # another idea of how to solve this with list comprehensions

26

In [22]:
len(s) - s.count(' ') # we could also simply substract the number of spaces

26

### How many words has this sentence?

In [25]:
len(s.split(' '))

6

### Sort all words contained in this sentence alphabetically

In [28]:
result = sorted(s.lower().split(' '))
print(result)

['exercise', 'first', 'is', 'just', 'our', 'this']

In [31]:
words = s.split(' ') # without lower-casing this first, the captial "T" will always be first
sorted(words)

['This', 'exercise', 'first', 'is', 'just', 'our']

In [3]:
mylist_1 = sorted(s.split(), key=str.lower) # only sort using the str.lower function
print(mylist_1)

['exercise', 'first', 'is', 'just', 'our', 'This']

### Check if  two lists contain the same elements

In [1]:
list_1 = [1, 2, 3, 4]
list_2 = [3, 4, 5, 6]

flag = False

for element in list_1:
    if element in list_2:
        flag = True
        print('Found', element, '!')
        break # stops the loop once we found an element in both lists
print(flag)

Found 3 !
True

In [2]:
flag = False

for element_1 in list_1:
    for element_2 in list_2:
        if element_1 == element_2: # another idea of how to check whether an element is in list_2 as well
            flag = True
            print('Found', element_1, '!')

print(flag)

Found 3 !
Found 4 !
True

In [45]:
s1 = set(list_1)
s2 = set(list_2)
print(s1, s2)
s1.intersection(s2) # another way to find the duplicates

{1, 2, 3, 4} {3, 4, 5, 6}

{3, 4}

## Tuples

### Add all the elements of a tuple and print the sum

In [3]:
tup = (1, 2, 3, 4)
sum(tup)

10

# Flow control

## Conditions (If/Else)

### Given a temperature in Fahrenheit, convert it to Celsius and determine the temperature category.

- If the temperature in Celsius is below 0, print 'Freezing'.
- If it is between 0 and 20, print 'Cool'.
- If it is between 21 and 30, print 'Warm'.
- Otherwise, print 'Hot'.

Formula to convert Fahrenheit to Celsius:
$ C = (F - 32) \times \frac{5}{9}$

In [1]:
temp = int(input())  # we can use the input() function to ask for user input while running the code
temp = (temp-32)*(5/9)
if temp < 0:
    print('Freezing')
elif temp < 20:
    print('Cool')
elif temp < 30:
    print('Warm')
else:
    print('Hot')

30
Freezing

### Given a year check whether it is a leap year or not

In [54]:
year = 2000
if (year % 4 == 0) and (year % 100 != 0 or year % 400 == 0):
    print('leap year')
else:
    print('normal year')

leap year

### Given a number print 'flash' if it is only divisible 5, print 'bang' if it is only divisible by 11 and print 'flashbang' if it is divisible by both 5 and 11

In [55]:
num = 55
if num % 5 == 0 and num % 11 != 0:
    print('flash')
elif num % 5 != 0 and num % 11 == 0:
    print('bang')
elif num % 5 == 0 and num % 11 == 0:
    print ('flashbang')
else:
    pass

flashbang

In [ ]:
if num % 5 == 0 and num % 11 == 0: # an order that needs less comparisons
    print ('flashbang')
elif num % 5 == 0:
    print('flash')
elif num % 11 == 0:
    print('bang')
else:
    pass

# Loops

### Print the pattern below
Try to make your code as short as possible!

*
**
***
****
*****
****
***
**
*

In [61]:
for i in range(1, 6):
    print('*' * i)
    
for i in range(4, 0, -1):
    print('*' * i)

*
**
***
****
*****
****
***
**
*

In [62]:
l = list(range(1, 6)) + list(range(4, 0, -1))
l

[1, 2, 3, 4, 5, 4, 3, 2, 1]

In [63]:
l = list(range(1, 6)) + list(range(4, 0, -1))  # create a list first, then iterate through it

for i in l:
    print ('*' * i)

*
**
***
****
*****
****
***
**
*

In [7]:
l = [(5 - abs(i)) for i in range(-4, 5)]  # a shorter way to create the list

for i in l: print ('*' * i)

*
**
***
****
*****
****
***
**
*

### Print all the natural number between 10 and 50 in reverse

In [68]:
for i in range(50, 9, -1):
    print(i, end = ' ')

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10

### Given a number print its digits in reverse.

In [9]:
num = 2343469798087
str_ = str(num)

for i in range(len(str_) - 1, -1, -1): # iterate in reverse order
    print(str_[i], end = '')

7808979643432

In [10]:
for i in range(len(str_)):
    print(str_[len(str_) - 1 - i], end = '') # go through the string of length L in order (L - i)

7808979643432

In [79]:
print(str_[::-1])  # go through the string in reverse order

7808979643432

In [11]:
mylist = list(str(num))  # convert the string to a list of characters
mylist.reverse()  # reverse the list
for el in mylist:
    print(el, end = '')

7808979643432

In [13]:
mylist = list(str(num))
mylist.reverse()  # reverse the list
print(''.join(mylist))  # concatenate the elements of the list into a string

7808979643432